$black-point: #000000;
$black-filter-25: rgba(0, 0, 0, 0.25);
$black-filter-30: rgba(0, 0, 0, 0.3);
$white-point: #ffffff;
$orange-400: #ff6060;
$grey-200: #f6f6f6;
$grey-400: #c4c4c4;
$grey-background-45: rgba(246, 246, 246, 0.45);
$overlay-400: linear-gradient(
    to bottom,
    #0a0a0a00 0%,
    #0a0a0a00 42%,
    rgba(4, 4, 4, 0.41) 100%
);
$red-placeholder-1000: #ff6060;
